@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif;*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(2, 50, 93);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* START SCREEN */

.start-screen {
	padding: 20px;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 100px;
}
.start-screen h1 {
	color: aliceblue;
	font-family: 'Anton', sans-serif;
	font-size: 100px;
	letter-spacing: 0.1cm;
}
.start-screen form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.start-screen form label {
	color: #fff;
	font-size: 40px;
}
.start-screen form #playerName {
	height: 40px;
	width: 400px;
	padding: 0 20px;
	font-size: 20px;
}
.start-screen form button {
	padding: 20px 30px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	/* background: none; */
	/* color: #fff; */
	cursor: pointer;
}
/* FOOTER */
footer {
	background-color: rgb(1, 34, 62);
	height: 6vh;
	text-align: center;
	color: #fff;
	padding: 20px;
}
