@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif;*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(2, 50, 93);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* START SCREEN */

.start-screen {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 100px;
}
.start-screen h1 {
	color: aliceblue;
	font-family: 'Anton', sans-serif;
	font-size: 100px;
	letter-spacing: 0.1cm;
}
.start-screen form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.start-screen form label {
	color: #fff;
	font-size: 40px;
}
.start-screen form #playerName {
	height: 40px;
	width: 400px;
	padding: 0 20px;
	font-size: 20px;
}
.start-screen form .button {
	padding: 20px 30px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* GAME SCREEN */
.game-screen {
	display: flex;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
}
.game-screen > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	gap: 100px;
}
.game-screen > div > h2 {
	color: #fff;
}
.game-screen > div > div {
	background-color: rgb(5, 54, 97);
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: repeat(10, 50px);
	gap: 2.5px;
}
.game-screen > div > div > div {
	background-color: rgb(114, 194, 255);
}
.game-screen > div > #enemyBoard > div {
	cursor: pointer;
}
.game-screen > div > div > div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.game-screen > div > div > div > div {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
.miss {
	background-color: rgb(0, 0, 0);
}
.hit {
	background-color: rgb(255, 0, 0);
}
.game-screen > div > div > .sunk {
	background-color: red;
}

/* END SCREEN */
.end-screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #001928dd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.end-screen > h2 {
	color: #fff;
	text-transform: uppercase;
}
.end-screen > button {
	padding: 20px 30px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* FOOTER */
footer {
	background-color: rgb(1, 34, 62);
	height: 6vh;
	text-align: center;
	color: #fff;
	padding: 20px;
}

.display-none {
	display: none;
}
